<a href="https://colab.research.google.com/github/domitru/GB_HomeWork_Python/blob/main/untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Работа на семинаре (9)

# Задание 57

In [ ]:
import pandas as pd

df = pd.read_csv('sample_data/california_housing_test.csv')
df.shape

(3000, 9)

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

# Задача 59
 Проверить есть ли в файле пустые значения.Показать
median_house_value где median_income < 2
Показать данные в первых 2 столбцах
Выбрать данные где
housing_median_age < 20 и median_house_value > 70000

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
# df['median_house_value'][df['median_income'] < 2]
df.loc[df['median_income'] < 2, 'median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [ ]:
df[[df.columns[0], df.columns[1]]]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

In [ ]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]
df.loc[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000), :]

# Задача 61
Определить какое максимальное и минимальное значение median_house_value

Показать максимальное median_house_value, где median_income = 3.1250

Узнать какая максимальная population в зоне минимального значения median_house_value

In [ ]:
df['median_house_value'].min()

22500.0

In [ ]:
df['median_house_value'].max()

500001.0

In [ ]:
df['median_house_value'][df['median_income'] == 3.1250 ]. max()

233300.0

In [ ]:
df.loc[df['median_house_value'] == df['median_house_value'].min(), 'population'].max()

1230.0